body{
    margin: 0;
    padding: 0;
    background-image: url(FEtp4v.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    font-size: 50px;
    padding: 50px;
    text-align: center;
}

.location{
    font-size: 18px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 80px;
}

.footer{
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.jakarta, .bandung, .bogor, .bekasi{
    padding:60px;
}